@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dark-mode {
    --bg-color: #000;
    --text-color: #fff;
    --span-text-color: #000;
    --gradient-color: linear-gradient(138.69deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 107.33%);
}

:root {
    --bg-color: #fff;
    --text-color: #000;
    --span-text-color: #fff;
    --gradient-color: linear-gradient(138.69deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.4) 107.33%);
}


body {
    background: var(--bg-color);
    margin-right: 160px;
    margin-left: 160px;
}
/* ------Scroll Bar------- */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color :none;
}

body::-webkit-scrollbar {
    width: 11px;
    background-color: none;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00F0AC;
}
/* -----Home-page----- */

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    top: 0;
    padding: 10px;
    position: fixed;
    background: var(--gradient-color);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    z-index: 999;
    left: 54%;
    transform: translateX(-54%);
}

.navbar .logo h1 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-right: 217px;
    margin-left: 10px;
}

.navbar .menu {
    margin-right: 117px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    flex: 1;
    margin-right: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.navbar ul li a:hover {
    color: #00F0AC;
}

.navbar ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #00F0AC;
    transition: width 0.3s;
    bottom: -5px;
}

.navbar ul li a:hover:after {
    width: 100%;
}

.mode-toggle {
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.mode-toggle:hover {
    color: #00F0AC;
}

/* Hamburger menu */
.navbar .menu-toggle {
    display: none;
}

/* Hero-Section */

.hero-section {
    padding: 100px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .content .left-content {
    flex: 1;
    text-align: left;
}

.hero-section .content h1 {
    font-size: 75px;
    line-height: 90px;
    font-weight: 600;
}

.hero-section .content span {
    color: #00F0AC;
}

.hero-section .content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero-section .content button {
    background-color: transparent;
    border: 2px solid #00F0AC;
    color: var(--text-color);
    padding: 10px 50px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hero-section .content button:hover {
    background-color: #00F0AC;
    color: var(--span-text-color);
    cursor: pointer;
}

.hero-section .content .right-content {
    flex: 1;
    text-align: right;
}

.hero-section .content .right-content img {
    max-width: 100%;
    height: auto;
}

/* social media sticky bar  */
.social-bar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 999;
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    color: #00F0AC;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    text-decoration: none;
}

.social-link:hover {
    color: var(--text-color);
    transition: 1s;
}

.vertical-line-1 {
    position: fixed;
    left: 38px;
    top: 58%;
    width: 2px;
    height: 280px;
    background-color: #00F0AC;
    margin: 10px auto;
}

/* Email Bar */
.email-bar {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
    writing-mode: vertical-rl;
}

.email-link {
    display: block;
    padding: 10px;
    color: #00F0AC;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.email-link:hover {
    color: var(--text-color);
}

.vertical-line-2 {
    position: fixed;
    right: 43px;
    top: 69%;
    width: 2px;
    height: 200px;
    background-color: #00F0AC;
    margin: 10px auto;
}

/* About Section */
.about-section {
    margin: 100px auto;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.about-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--text-color);
    line-height: 90px;
}

.horizontal-line {
    flex: 1;
    border: none;
    border-top: 2px solid #00F0AC;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: justify;
}

.about-text {
    flex: 1;
    color: var(--text-color);
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
}

.about-image {
    flex: 1;
}

.about-image img {
    height: 550px;
    width: 550px;
    margin-top: -50px;
}

/* Skill Section */
.skill-section {
    margin: 100px auto;
}

.skill-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.skill-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--text-color);
    line-height: 90px;
}

.skill-header .horizontal-line {
    flex: 1;
    border: none;
    border-top: 2px solid #00F0AC;
    margin-right: 10px;
}

.skill-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--text-color);
}

.skill-text {
    flex: 1;
    color: var(--text-color);
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
}

.skill-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.skill-name {
    margin-bottom: 8px;
    text-align: left;
}

.skill-progress {
    width: 50%;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 13px;
}

.progress-bar {
    height: 100%;
    background-color: #00F0AC;
    border-radius: 5px;

}

/* Project Section */
.project-section {
    margin: 100px auto;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.project-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--text-color);
    line-height: 90px;
}

.project-header .horizontal-line {
    flex: 1;
    border: none;
    border-top: 2px solid #00F0AC;
    margin-left: 10px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-1 {
    margin-bottom: 80px;
}

.project-2 {
    margin-bottom: 80px;
}

.project-1,
.project-2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.project-image {
    width: 50%;
    margin: 19px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


.project-1 .project-text {
    width: 50%;
    text-align: justify;
}

.project-2 .project-text {
    width: 50%;
    text-align: justify;
}

.project-text h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #80F0EE;
}

.project-text h2 {
    font-size: 25px;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color);
}

.project-text p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.project-tags span {
    display: inline-block;
    background-color: #00F0AC;
    color: #000;
    padding: 5px 10px;
    border-radius: 23px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.project-links a:hover {
    border-color: #00F0AC;
}

/* Experience Section */
.experience-section {
    margin: 100px auto;
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.experience-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    color: var(--text-color);
    line-height: 90px;
}

.timeline-container {
    display: flex;
    justify-content: space-between;
}

.timeline {
    position: relative;
    list-style: none;
    padding: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 31px;
    width: 2px;
    height: 100%;
    background-color: #00F0AC;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 23.75px;
    height: 24px;
    border-radius: 50%;
    background-color: #00F0AC;
    z-index: 1;
}

.timeline-content {
    flex: 1;
    margin-left: 50px;
}

.timeline-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
}

.timeline-content h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--text-color);
}

.timeline-content p {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.timeline-content ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--text-color);
    margin-left: 20px;

}

.timeline-content span {
    display: inline-block;
    background-color: #00F0AC;
    color: #000;
    padding: 5px 10px;
    border-radius: 23px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* Contact Section */
.contact-section {
    margin: 100px auto;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 120px;
}

.contact-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
    color: var(--text-color);
    line-height: 90px;
}

.contact-text {
    text-align: center;

}

.contact-text h2 {
    font-size: 75px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.contact-text p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 54px;
    text-align: justify;
    color: #00F3A4;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00F0AC;
    border-radius: 35px;
}

.contact-form h2 {
    text-align: center;
    font-size: 25px;
    line-height: 90px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #000000;
    color: var(--span-text-color);
    font-weight: 500;
    outline: none;
    resize: none;
    overflow: hidden;
}

input[type="email"]::placeholder {
    color: #000;
    font-weight: 500;
    background-color: transparent;
}

::placeholder {
    color: #000;
    font-weight: 500;
}


.contact-form button {
    display: block;
    width: 50%;
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 35px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Footer Section */
.footer-section {
    color: var(--text-color);
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.footer-section h2 {
    font-size: 18px;
    line-height: 27px;
}

.scroll-top-btn {
    position: absolute;
    right: 20px;
    bottom: 40px;
    background-color: #00F0AC;
    color: var(--span-text-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 45px;
    width: 45px;
}

.social-icons {
    display: none;
}

@media screen and (max-width: 480px) {

    body {
        margin-right: 20px;
        margin-left: 20px;
        overflow-x: hidden;
    }

    /* navbar */
    .navbar .logo h1 {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 117px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

    .navbar .menu-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: var(--text-color);
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }

    .navbar .menu-toggle.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar .menu-toggle.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* menu-container */

    .navbar .menu-container.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-container {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--gradient-color);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 23px;
        padding: 80px 80px 80px 120px;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .navbar .menu-toggle.open+.menu-container {
        display: block;
    }

    .navbar .menu-container ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar .menu-container ul li {
        margin-bottom: 10px;
    }

    .navbar .menu-container ul li a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s;
    }

    .mode-toggle {
        padding-bottom: 12px;
        padding-right: 15px;
    }

    /* hero section */
    .hero-section {
        padding: 60px;
        margin-bottom: 20px;
    }

    .hero-section .content {
        display: inline;
    }

    .hero-section .left-content {
        margin-top: 220px;
    }


    .hero-section .content h1 {
        font-size: 40px;
        line-height: 45px;
        margin-left: 10px;
    }

    .hero-section .content h2 {
        font-size: 15px;
        margin-left: 10px;
    }

    .hero-section .content button {
        font-size: 12px;
        padding: 10px 58px;
        align-items: center;
    }

    .hero-section .content .right-content img {
        display: none;
    }

    /* social media bar */
    .social-bar {
        display: none;
    }

    .vertical-line-1 {
        display: none;
    }

    .email-bar {
        display: none;
    }

    .vertical-line-2 {
        display: none;
    }

    /* about section */
    .about-text {
        font-size: 12px;
        font-weight: 500;
    }

    .about-image img {
        display: none;
    }

    .about-content {
        display: inline;
    }

    /* skill section */
    .skill-text {
        font-size: 12px;
        text-align: justify;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .skill-content {
        display: flex;
    }

    /* skill bar */
    .skill-content {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skill-text {
        margin-right: 0;
        margin-top: 20px;
    }

    .skill-bar {
        width: 100%;
        margin-bottom: 20px;
    }

    .skill-progress {
        width: 100%;
    }

    /* project section */
    .project-text h3 {
        font-size: 12px;
    }

    .project-text h2 {
        font-size: 20px;
    }

    .project-text p {
        font-size: 12px;
        line-height: 15px;
    }

    .project-tags span {
        font-size: 10px;
        padding: 5px 10px;
    }

    .project-links a {
        font-size: 10px;
    }

    .project-content {
        display: flex;
    }

    .project-content .project-1 {
        flex-direction: column;
    }

    .project-content .project-2 {
        flex-direction: column-reverse;
    }

    .project-image {
        width: 100%;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    }


    .project-image img {
        height: auto;
        border-radius: 5px;
    }

    .project-1 .project-text {
        width: 100%;
        text-align: left;
    }

    .project-2 .project-text {
        width: 100%;
        text-align: left;
    }

    /* experience section */

    .experience-header h2 {
        font-size: 20px;
        line-height: 60px;
    }

    .timeline-container {
        flex-direction: column;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        margin-bottom: 30px;
    }

    .timeline-item::before {
        left: 10px;
        width: 20px;
        height: 20px;
    }

    .timeline-content {
        margin-left: 35px;
    }

    .timeline-content h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .timeline-content h4 {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .timeline-content p,
    .timeline-content ul li {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .timeline-content span {
        font-size: 12px;
        margin-bottom: 8px;
    }

    /* contact section */
    .contact-text h2 {
        font-size: 35px;
    }

    .contact-text p {
        font-size: 12px;
    }

    .contact-text button {
        padding: 8px 40px;
        font-size: 20px;
        border-radius: 30px;
    }

    .contact-form {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 50px;
    }

    .contact-form h2 {
        font-size: 18px;
        line-height: 60px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 12px;
        padding: 6px;
    }

    .contact-form button {
        width: 50%;
        font-size: 12px;
        padding: 10px 10px;
        margin-bottom: 10px;
    }

    .social-icons {
        display: inline;
    }

    .social-icons a i {
        color: #00F0AC;
        padding: 10px;
        font-size: 24px;
    }

    .social-icons a i:hover {
        color: var(--text-color);
        transition: 1s;
    }

    .footer-section h2 {
        font-size: 12px;
    }

    .scroll-top-btn {
        height: 35px;
        width: 35px;
        bottom: 45px;
        padding: 5px;
    }
}